{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
            <div class="content-section">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">{{title}}</legend>
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}

                            {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.price.label(class="form-control-label") }}
                            {% if form.price.errors %}
                                {{ form.price(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.price.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.price(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.desc.label(class="form-control-label") }}
                            {% if form.desc.errors %}
                                {{ form.desc(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.desc.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.desc(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.dis.label(class="form-control-label") }}
                            {% if form.dis.errors %}
                                {{ form.dis(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.dis.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.dis(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.product.label(class="form-control-label") }}
                            {% if form.product.errors %}
                                {{ form.product(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.product.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.product(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                    
                      
                   



                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                        {% if action %}
                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    {% endif %}
                </div>
            </form>
            {% if action %}
             <!-- Modal -->
             <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" >Delete Offer?</h5>
                        <button type="button" class="close" data-dismiss="modal" ></button>
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{{ url_for('delete_offer', offer_id=offer_id) }}" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                        </div>
                    </div>
                    </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-section">
            <div class="list-group">
                {% for offer in offers %}
                    <a  href="{{ url_for('update_offer', offer_id=offer.id) }}" class="list-group-item list-group-item-action">{{ offer.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}  