{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-8">
            <div class="content-section">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">{{title}}</legend>
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}

                            {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                                {{ form.mall.label(class="form-control-label") }}
                                {% if form.mall.errors %}
                                {{ form.mall(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.mall.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.mall(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                                {{ form.category.label(class="form-control-label") }}
                                {% if form.category.errors %}
                                {{ form.category(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.category.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.category(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.addr.label(class="form-control-label") }}
                            {% if form.addr.errors %}
                                {{ form.addr(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.addr.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.addr(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.phoneno.label(class="form-control-label") }}
                            {% if form.phoneno.errors %}
                                {{ form.phoneno(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.phoneno.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.phoneno(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        
                        <div class="form-group">
                            {{ form.desc.label(class="form-control-label") }}
                            {% if form.desc.errors %}
                                {{ form.desc(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.desc.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.desc(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        
                 <div class = "form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                        {% if action %}
                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        {% endif %}
                </div>
                </form>
           
            {% if action %}
             <!-- Modal -->
             <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" >Delete Shop?</h5>
                        <button type="button" class="close" data-dismiss="modal" ></button>
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{{ url_for('delete_shop', shop_id=shop_id) }}" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                        </div>
                    </div>
                    </div>
            </div>
            {% endif %}
        </div>
    

              
            
        </div><!-- col-md-8 close -->

            <div class="col-md-4">
                <div class="content-section">
                       
                    <div class="list-group">
                        {% for shop in shops %}
                        <a  href="{{ url_for('update_shop', shop_id=shop.id) }}" class="list-group-item list-group-item-action">  {{ shop.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div><!-- row close -->
  
    </div>
    

   {% endblock content %}              